<div class="container">
    <div class="row mt-4">
        <div class="col-3 mt-3 mb-3">
          <h5 class="text-center bg-light">注文履歴詳細</h5>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
             <div class="row">
                <h5 class="font-weight-bold">注文情報</h5>
            </div>
            <div class="row mt-2 mb-4">
                <table class="table-bordered col-11">
                    <tr>
                        <td class="bg-light text-center">注文日</td>
                        <td><%= @order.created_at.to_s(:datetime_jp) %></td>
                    </tr>
                    <tr>
                        <td class="bg-light text-center">配送先</td>
                        <td>
                            〒<%= @order.post_code %></br>
                              <%= @order.address %></br>
                              <%= @order.name %>
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-light text-center">支払方法</td>
                        <td><%= @order.method_of_payment_i18n %></td>
                    </tr>
                    <tr>
                        <td class="bg-light text-center">ステータス</td>
                        <td><%= @order.order_status_i18n %></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <h5 class="font-weight-bold">請求情報</h5>
            </div>
            <div class="row mt-2 mb-4">
                <table class="table-bordered col-10">
                    <tr>
                        <td class="bg-light text-center">商品金額の合計</td>
                        <td class="text-right"><%= @price.to_s(:delimited) %>円</td>
                    </tr>
                    <tr>
                        <td class="bg-light text-center">配送料</td>
                        <td class="text-right"><%= @order.postage %>円</td>
                    </tr>
                    <tr>
                        <td class="bg-light text-center">ご請求金額</td>
                        <td class="text-right"><%= @order.billing_amount.to_s(:delimited) %>円</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <h5 class="mt-4 font-weight-bold">注文内容</h5>
    </div>
    <div class="row">
        <table class="table-bordered col-6">
            <tr>
                <td class="bg-light text-center">
                    商品名
                </td>
                <td class="bg-light text-center">
                    単価（税込）
                </td>
                <td class="bg-light text-center">
                    個数
                </td>
                <td class="bg-light text-center">
                    小計
                </td>
            </tr>
            <% @order_details.each do |order_detail| %>
            <tr>
                <td class="text-left">
                    <%= order_detail.item.name %>
                </td>
                <td class="text-right">
                    <%= order_detail.item.price.to_s(:delimited) %>円
                </td>
                <td class="text-right">
                    <%= order_detail.quantity %>
                </td>
                <td class="text-right">
                    <%= order_detail.ordered_price.to_s(:delimited) %>円
                </td>
            </tr>
            <% end %>
            </table>
</div>