<div class="container">
  <div class="row">
    <div class="col-12">
      <section class="main-visual mt-4">
          <h2 class=text-center>ようこそながのCAKE <i class="fas fa-birthday-cake"></i> へ！</h2>
          <p class=text-center>
            このサイトは、ケーキ販売のECサイトになります。<br />
            会員でない方も商品の閲覧はできますが、<br />
            購入には会員登録が必要になります。
          </p>
      </section>
    </div>
  </div>
  <div class="row mt-1">
    <section class="new-items col-md-12">
      <h3><strong>新着商品</strong></h3>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-3">
            <div class="card border border-0">
              <%= link_to item_path(item) do %>
                 <%= image_tag item.image, size:'250x200' %>
              <% end %>
              <div class="card-body">
                <h6 class="card-title"><strong><%= item.name %></strong></h6>
                <p class="card-text">￥<%= item.price %></p>

              </div>
            </div>
          <% end %>
        </div>
      </section>
    </div>
    <div class="col-md-12 text-right">
      <%= link_to "全ての商品を見る>", items_path %>
    </div>
    </div>
  </div>
</div>