<div class="container">
  <div class="row">
    <div class="col-3 mt-3 mb-3">
      <h5 class="text-center bg-light">配送先登録/一覧</h5>
    </div>
  </div>

  <%= form_with(model:@shipping_address, url: addresses_path) do |f| %>
  <div class="row">
    <p class="col-3">郵便番号(ハイフンなし)</p>
    <div class="form-group">
      <%= f.text_field :post_code, autofocus: true, :placeholder => "0000000" %>
    </div>
  </div>
  <div class="row">
    <p class="col-3">住所</p>
    <div class="form-group col-9 ml-0 pl-0">
      <%= f.text_field :address, autofocus: true, :placeholder => "東京都渋谷区代々木神園町0-0",class:"col-7 p-0"%>
    </div>
  </div>
  <div class="row">
    <p class="col-3">宛名</p>
    <div class="form-group">
      <%= f.text_field :address_name, autofocus: true, :placeholder => "マイキーくん" %>
    </div>
    <div class="form-group offset-3">
    <%= f.submit "新規登録",class: 'btn btn-sm btn-success' %>
    </div>
  </div>
  <% end %>

  <div class="row mt-5">
  <table class="table table-bordered col-8">
    <thead class="bg-light">
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @shipping_addresses.each do |shipping_address| %>
      <tr>
        <td><%= shipping_address.post_code %></td>
        <td><%= shipping_address.address %></td>
        <td><%= shipping_address.address_name %></td>
        <td>
        <%= link_to '編集する', edit_address_path(shipping_address), class: "btn btn-sm btn-success" %>
        <%= link_to '消去する', address_path(shipping_address), method: :delete ,class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>