
<% if @end_user.errors.any? %>
  <%= @end_user.errors.count %>件が未入力です！！！
  <ul>
    <% @end_user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">

  <div class="row">
    <div class="col-4 mt-5">
      <h5 class="text-center bg-light"><%= @end_user.last_name %><%= @end_user.first_name %>さんの会員情報編集</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-3">
      <%= form_with model: @end_user, url: admins_customer_path, local: true do |f| %>
        <form>
          <div class="form-group col-xs-9">
            <%= f.label :id,"会員ID", class: "col-sm-2" %>
            <%= @end_user.id %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :氏名, class: "col-sm-2" %>
            <%= f.text_field :last_name %>
            <%= f.text_field :first_name,autofocus: true %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :フリガナ, class: "col-sm-2" %>
            <%= f.text_field :last_name_kana %>
            <%= f.text_field :first_name_kana %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :郵便番号, class: "col-sm-2" %>
            <%= f.text_field :post_code %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :住所, class: "col-sm-2" %>
            <%= f.text_field :address, class: "col-sm-7 pl-0" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :電話番号, class: "col-sm-2" %>
            <%= f.text_field :phone_number %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :メールアドレス, class: "col-sm-2" %>
            <%= f.text_field :email %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :会員ステータス, class: "col-sm-2" %>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :会員ステータス, "有効", value: false %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :会員ステータス, '退会', value: true %>
          </div>
          <div class="form-group">
            <%= f.submit "変更を保存", class: "btn btn-success offset-2" %>
          </div>
        </form>
      <% end %>
    </div>
  </div>

</div>
