<div class="container">

  <div class="row">
    <div class="col-3 mb-5">
      <h5 class="text-center bg-light mt-5 ml-5 col-8">商品編集</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-5 offset-3">
      <%= form_with model: @item, url: admins_item_path, local: true do |f| %>
        <form>
          <div class="form-group col-xs-9">
            <%= f.label :商品画像, class: "col-sm-2" %>
            <%= f.file_field :image, accept: "image/*" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :商品名, class: "col-sm-2" %>
            <%= f.text_field :name, class: "col-sm-3" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :商品説明, class: "col-sm-2 align-top" %>
            <%= f.text_area :item_description, class: "col-sm-3", rows:"5" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :ジャンル, class: "col-sm-2" %>
            <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, include_blank: "--選択してください--", class: "col-sm-5" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :税抜価格, class: "col-sm-2" %>
            <%= f.text_field :price, class: "col-sm-3" %>円
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :販売ステータス, class: "col-sm-2" %>
            <%= f.radio_button :sale_status, true%>
            <%= f.label :販売ステータス, '販売中', value: true %>
            <%= f.radio_button :sale_status, false %>
            <%= f.label :販売ステータス, "販売停止中", value: false %>
          </div>
          <div class="form-group col-8 mx-auto">
            <%= f.submit "変更を保存", class: "btn btn-success col-sm-2" %>
          </div>
        </form>
      <% end %>
    </div>
  </div>
</div>