<div class="container p-5">
  <h3><strong>商品編集</strong></h3>
  <div class="row no-gutters contents-title text-center">
    <div class="col-md-12 p-4">
      <%= form_with model:　@item, local:true do |f| %>
      <div class="row pb-1 ">
        <%= f.label :商品画像, class: "col-sm-3" %>
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.attachment_field :image %>
          </div>
        </div>
      </div>
      <div class="row pb-3">
        <%= f.label :商品名, class: "col-sm-3" %>
          <div class="col-sm-5">
            <%= f.text_field :name, placeholder: "商品名", class: "form-control" %>
          </div>
      </div>
      <div class="row pb-3">
        <%= f.label :商品説明, class: "col-sm-3" %>
          <div class="col-sm-5">
            <%= f.text_field :introduction, size: "50×5", placeholder: "ここに説明文を記述します", class: "form-control" %>
          </div>
      </div>
      <div class="row pb-3">
        <%= f.label :ジャンル, class: "col-sm-3" %>
          <div class="col-sm-5">
            <%= f.collection_select :genre_id, Genre.all, :id, :name,{prompt: "選択してください"},class: "form-control text-muted" %>
          </div>
      </div>
      <div class="row pb-3">
        <%= f.label :税抜価格, class: "col-sm-3" %>
          <div class="col-sm-5">
            <%= f.number_field :price, placeholder: "1000", class: "form-control" %>
          </div>
      </div>
      <%= f.submit "変更を保存する", class:"btn btn-success" %>
      <% end %>
      </div>
    </div>
  </div>
</div>