<div class="container">
  <div class="row mt-3">
　　<h4 class="col-md-3 bg-light text-center m-4">商品一覧</h4>
　　<div class="col-md-3 m-4"></div>
　　<div class="col-md-3 m-4">
      <%= link_to new_admins_item_path, class:"btn btn-outline-secondary" do %>
        <i class="fas fa-plus fa-1x"></i>
      <% end %>
    </div>
　</div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <table class="table">
        <thead class="bg-light text-center">
          <th class="col-2">商品ID</th>
          <th class="col-2">商品名</th>
          <th class="col-2">税抜価格</th>
          <th class="col-2">ジャンル</th>
          <!--<th class="col-2">ステータス</th>-->
        </thead>
        <tbody class="text-center">
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admins_item_path(item.id) %></td>
              <td><%= item.price %>円</td>
              <td><%= item.genre.name %></td>
              <td><%#= item.is_active == true ? "販売中" : "販売停止中" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
 <div class="text-center"><%= paginate(@items) %></div>