<div class="container">
  <div class="row">
    <h1>商品一覧</h1>
    <p>全<%= @items.count %>件</p>
      <%= @items.each do |item| %>
      <%= image_tag item.image, :size => "250x250" %>
      <%= item.name %>
      <%= item.price.to_s(:delimited) %>
      <% end %>
      <%= paginate @items %>
  </div>
</div>