<div class="container">
  <div class="row">
    <div class= "col-2 px-5 px-sm-0 mt-4">
      <%= render "end_users/items/genre", genres: @genres %>
    </div>
    <div class="col-10 mx-auto mt-4 ">
      <h1 class="font-weight-bold">商品一覧</h1>
        <h3 class="ml-3">
          全<%= @items.count %>件
        </h3>
  <div class="row">
      <% @items.each do |item| %>
        <div class= "col-3">
          <%= link_to item_path(item.id)  do %>
            <%= image_tag item.image, :size => "200x200" %><br/>
          <% end %>
          <%= item.name %><br/>
          ¥<%= item.price.to_s(:delimited) %>円
        </div>
      <% end %>
    </div>

    <div class="col-lg-2 offset-lg-5"><%= paginate @items %></div>
  </div>
  <div class="row mt-5">
    <% @items.each do |item| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <%= link_to item_path(item.id)  do %>
          <% if item.image.attached? %>
            <%= image_tag item.image, :size => "200x200" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        <% end %>
        <%= item.name %><br/>
        ¥<%= item.price.to_s(:delimited) %>円
      </div>
    <% end %>
  </div>
  <div class="col-lg-2 offset-lg-5"><%= paginate @items %></div>
</div>
