
<% if @items.errors.any? %>
  <%= @items.errors.count %>件が未入力です！！！
  <ul>
    <% @items.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <%= form_with model: @cart_items, url: cart_items_path do |f| %>
  <div class="row mt-5">
    <div class="col-3">
      <%= image_tag @items.image, :size => "350x350" %>
    </div>
    <div class="col-6 offset-1">
      <table class="col-12">
        <%= f.hidden_field :item_id, value: @items.id %>
        <tr>
          <th>
            <h3 class="font-weight-bold">
              <%= @items.name %>
            </h3>
          </th>
        </tr>
        <tr>
          <td>
            <h5 class="mt-3">
              <%= @items.item_description %>
            </h5>
          </td>
        </tr>
      </table>
      <table class="mt-5">
        <tr>
          <th>
            <h3>
              <%= @items.price.to_s(:delimited) %>
            </h3>
          </th>
          <td>
            <h6>
              （税込）
            </h6>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="col-8 text-right">
        <tr>
          <td class="offset-5">
            <%= f.select :quantity, *[1..5], include_blank: '個数選択' %>
          </td>
          <td class="col-4">
            <%= f.submit 'カートに入れる', class: "btn btn-success ml-5" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
</div>