<div class="container">

  <div class="row">
    <div class="col-3">
      <h5 class="text-center mt-5" style="background-color: #EEEEEE">注文履歴詳細</h5>
    </div>
      <div class="col-12 mt-3">
        <table class="col-6">
          <tr>
            <th>購入者</th>
            <td>
              <%= link_to admins_customer_path(@order.customer), class: "text-dark", style: "text-decoration: underline;" do %>
                <%= @order.customer.first_name %><%= @order.customer.last_name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td>
              〒<%= @order.post_code %>
              <%= @order.address %>
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <%= @order.name %>
            </td>
          </tr>

          <tr>
            <th>支払方法</th>
            <td><%= @order.method_of_payment %></td>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <%= form_with model: @order, url: admins_order_path(@order), method: :patch, local: true do |f| %>
              <td>
                <span class="ml-3"><%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]}%></span>
                <%= f.submit "更新", class: "btn btn-success ml-3" %>
              </td>
            <% end %>
          </tr>
        </table>
      </div>
  </div>

  <div class="row mt-5">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr class="bg-light">
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.ordered_price.to_s(:delimited) %></td>
              <td><%= order_detail.quantity %></td>
              <td><%= order_detail.subtotal.to_s(:delimited) %></td>
              <td>
                <%= form_with(model:[@order, order_detail], url: admins_order_order_detail_path(order_id: @order.id, id: order_detail.id), method: :patch, local: true) do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses.keys.map  {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
                <%= f.submit "更新", class: "btn btn-success" %>
                <% end %>
              </td>
            </tr>
            <% @sum += order_detail.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-4 d-flex align-items-end">
      <table class="col-7">
        <tr>
          <th class="pb-2">商品合計</th>
          <td><%= @sum.to_s(:delimited) %>円<td>
        </tr>
        <tr>
          <th class="pb-2">送料</th>
          <td><%= @order.postage.to_s %>円</td>
        </tr>
        <tr>
          <th class="pb-2">請求合計額</th>
            <% @sum += @order.postage %>
            <td><%= @sum.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>

</div>